.App {
  padding-top: 4rem;
  min-height: 100vh;
  background-color: rgba(239, 83, 83, 0.815);
}

.navbar {
  background-color: #ef5353;
  color: white;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: blue;
}
